.cardbox{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    width: 100%;
    height:auto;
    margin-right:24px;
    margin-top:5px;
    padding:50px;
}
.indexZ{
  z-index:-1;
}
.ybutton{
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:10px;
  margin-top:10px;
  padding-left:10px;
  padding-right:10px;
  width:50%;
  border-radius: 5px;
  background-color:#ba68c8;
  border:#ba68c8 1px solid;
  transition:0.3s;
  height:auto;
  color:#ffffff;
}


.ybutton:hover{
  border:#ba68c8 1px solid;
  background-color:#ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color:#ba68c8;
}

.ybuttonSecondary{
  width:70%;
  border-radius: 40px;
  background-color:#ffffff;
  border:#ffffff 1px solid;
  transition:0.3s;
  height:auto
}

.ybuttonSecondary:hover{
  background-color:#ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.inputfield{
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:20px;
  padding-left:10px;
  padding-right:10px;
  width:100%;
  border-radius: 40px;
  border:rgba(66,66,66,0.2) 1px solid;
  font-size: 17px;
}
